/* /////////////////////////NOTES////////////////////////////////// */
/* FOR FRIDAY 09/01:

style footer
    links
    border?


figure out border issue (double)
    border just around the days, not the whole rectangle


MONDAY - 09/07   
WORK ON MODAL WINDOW

*/

/* //////////////////////////////////////////////////////////////// */

/* color var */
:root {
  --background: hsl(133, 39%, 81%);
  --font: hsl(327, 29%, 34%);
  --border: hsl(341, 88%, 75%);
  --events: grey;
  --tasks: orange;
}

/* initial sizing/styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Odibee Sans";
  color: var(--font);
}
.calendar-container {
  margin-top: 1%;
  width: 98%;
  margin-left: 1%;
  background-color: var(--background);
  /* border: 2px solid brown; */
}

.title-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid var(--border);
  padding-bottom: 1%;
  align-items: baseline;
}
.title-month {
  font-size: 5rem;
}
.title-day,
.title-year,
.month-change {
  font-size: 2rem;
}
.calendar-day-names {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weekday {
  font-size: 1.5rem;
}

.calendar-layout {
  display: grid;
  border: 1px solid var(--border);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 115px);
}
/* .day {
  border: 1px solid black;
} */
.calendar-number {
  /* border: 1px solid black; */
  font-size: 1.4rem;
}

/* USE THIS TO PUT THE BORDER AROUND THE NUMBERS */
.day {
  border: 1px solid var(--border);
  width: 100%;
  display: inline;
  padding: 0 5%;
}

.tasks {
  background-color: var(--tasks);
}

.events {
  background-color: var(--events);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.tasks:hover,
.events:hover {
  opacity: 0.5;
  cursor: pointer;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  opacity: 0.5;
  cursor: pointer;
}
footer {
  margin-top: 1%;
  margin-left: 15%;
}
.link,
.footer {
  display: inline;
  font-size: 1.5rem;
  padding: 0 10%;
}
