/* /////////////////////////NOTES////////////////////////////////// */
/* FOR FRIDAY 09/03:

MONDAY - 09/07   

figure out border issue (double)
    border just around the days, not the whole rectangle


*/

/* //////////////////////////////////////////////////////////////// */

/* color var */
:root {
  --background: hsl(133, 39%, 81%);
  --font: hsl(327, 29%, 34%);
  --border: hsl(341, 88%, 75%);
  --events: grey;
  --tasks: orange;
}

/* initial sizing/styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Odibee Sans";
  color: var(--font);
}
.calendar-container {
  margin-top: 1%;
  width: 98%;
  margin-left: 1%;
  background-color: var(--background);
  /* border: 2px solid brown; */
  border-radius: 2%;
}

.title-bar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid var(--border);
  padding-bottom: 1%;
  border-radius: 2%;
  align-items: baseline;
}
.title-month {
  font-size: 5rem;
}
.title-day,
.title-year,
.month-change {
  font-size: 2rem;
}
.calendar-day-names {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weekday {
  font-size: 1.5rem;
}

.calendar-layout {
  display: grid;
  border: 1px solid var(--border);
  border-radius: 4%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 115px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
/* .day {
  border: 1px solid black;
} */
.calendar-number {
  /* border: 1px solid black; */
  font-size: 1.4rem;
}

/* USE THIS TO PUT THE BORDER AROUND THE NUMBERS */
.day {
  border-radius: 2%;

  border: 1px solid var(--border);
  width: 100%;
  display: inline;
  padding: 0 5%;
}

.tasks {
  background-color: var(--tasks);
}

.events {
  background-color: var(--events);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.tasks:hover,
.events:hover {
  opacity: 0.5;
  cursor: pointer;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  opacity: 0.5;
  cursor: pointer;
}
footer {
  margin-top: 1%;
  margin-left: 15%;
}
.link,
.footer {
  display: inline;
  font-size: 1.5rem;
  padding: 0 10%;
}

.link a {
  text-decoration: none;
  color: orange;
}
.day-1,
.week-5,
.day {
  border-radius: 2%;
}

.modal {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 27rem;
  justify-content: space-between;
  height: 33rem;
  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: 3%;
  position: fixed;
  left: 35%;
}

.modal.hidden {
  display: none;
}
.modal-title {
  font-size: 3.5rem;
  border-bottom: 3px solid hsl(327, 29%, 34%);
}
.modal-event,
.modal-task {
  font-size: 2rem;
  text-align: center;
}
.modal-event,
.event-li {
  color: gray;
}
.event-day {
  text-align: center;
}
.modal-task,
.task-li {
  color: orange;
}

.task-li,
.event-li {
  margin-left: 15%;
  list-style-type: none;
  font-size: 1.5rem;
  padding: 2%;
}
.add-event-btn,
.add-task-btn {
  height: 1.5rem;
  border: none;
  border-radius: 10px;
}
.add-event-btn {
  color: white;
  background-color: gray;
}
.add-task-btn {
  color: white;
  background-color: orange;
}

.add-event-btn:hover,
.add-task-btn:hover {
  opacity: 0.5;
}
